.navbar-img{
    height: 50px;
    border-radius: 10px;

}
.navbar{
    border-radius: 10px;
    
}
.container-carousel-color{
    background-color: lightpink;
    margin-top: 10%;
    border-radius: 10px;
    width: 85%;
}
.carousel-img{
    width: 50%; 
}
.carousel-text{
    margin-top: 45px;
}
.buy-now-button{
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 9px 25px ;
    border-radius: 5px;
}
.price{
    font-size: 30px;
    color: #FF136F;
}
.container-card{
    margin-top: 40px;
    
}

.card{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
}
.last-footer{
    text-align: center;
}
.footer-img{
    width: 140%;
}
.container-footer{
    margin-top: 30px;
}


@media (max-width:768px) {
    .carousel-img {
        padding-top: 20%;}
    .buy-now-button {
        margin-block-end: 10%;


    }
        .carousel-text{
        margin-top: 0%;
            
        }
    .container-carousel-color{
        margin-top: 25%;
        
    }
    .carousel-text h1 { 
        font-size: 30px ;
        
        
    }
        .carousel-text h5 { 
            font-size: 18px;
    
        }
        .carousel-text p{
            font-size: 15px;
            padding-right: 30px;
        }
        
        .carousel-img{ 
            width: 60%;
            margin-top: 0%;
            margin-left: 20%;
            padding-block-start: 40px;
            
            
        }
        .price{
            font-size: 20px;
            padding-top: 0%;
            margin-top: 0%;
        }
        .buy-now-button{
           padding: 5px 12px;
        }
        footer{
            text-align: center;
        }
        .footer-img{
            margin-left: 60px;
        }
       
}
    